.encontraras-contentn {
    display: flex;
    flex-direction: column; /* Cambia a columna para evitar que estén en línea */
    align-items: center;
    padding: 50px 20px; /* Añadir padding alrededor */
}

.encontraras-txtn {
    margin-bottom: 40px; /* Aumentar margen entre secciones */
    text-align: center; /* Asegura que el texto esté centrado */
}

.encontraras-txtn h1 {
    font-size: 50px;
    text-transform: capitalize;
    line-height: 1.2; /* Ajustar line-height */
    color: #111419;
    margin-bottom: 20px; /* Reducir margen inferior */
}

.encontraras-txtn p {
    font-size: 18px; /* Aumentar tamaño de fuente */
    color: #515557;
    margin-bottom: 20px; /* Ajustar margen inferior */
    line-height: 1.6; /* Mejorar legibilidad */
}